*{
    padding: 0;
    margin: 0;
}
header{
    padding: 16px 0px;
}
.container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.logo{
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -5%;
}
header nav ul{
    list-style: none;
    display: flex;


}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    text-decoration: none;
}

.icon{
    list-style: none;
    display: inline-flex;
}
.icon li{
    margin-right: 5px;
}
.main_screen{
    display: flex;
    justify-content: space-between;
    background-color: #F0EFEB;
    padding: 90px;
}
.main_screen article h1{
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 42px;
}
.main_screen article p{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 26px;
}
.main_screen div{
    position: relative;
    right: 70px;
    bottom: 70px;
}
.bottom_1{
    width: 129px;
    height: 36px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding: 7px 23px;
}
.main_screen article a{
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
