@import url(mobile_menu.css);
header {
  padding: 16px 0px; }
  header .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    position: absolute;
    left: 50%;
    margin-left: -5%; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin-right: 28px; }
      header nav ul li a {
        text-decoration: none; }
  header .icon {
    list-style: none;
    display: inline-flex; }
    header .icon li {
      margin-right: 5px; }
    header .icon .buscket {
      position: relative;
      bottom: 2px; }

.main_screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0EFEB;
  padding: 90px; }
  .main_screen article h1 {
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 42px; }
  .main_screen p {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .main_screen .bottom_1 {
    width: 129px;
    height: 36px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding: 7px 23px; }
  .main_screen .photo_main {
    position: relative;
    right: 70px;
    top: 70px; }
  .main_screen article a {
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none; }

.cultures {
  display: flex;
  justify-content: center;
  padding: 60px; }
  .cultures div h3 {
    padding-bottom: 27px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .cultures div p {
    padding-bottom: 47px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

.sellers {
  max-width: 1064px;
  margin: auto;
  margin-bottom: 90px; }
  .sellers h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .sellers .container {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .sellers .container article h5 {
      color: #000;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .sellers .container article p {
      color: #000;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .sellers .container article a {
      color: #000;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline; }

.society {
  background: rgba(204, 204, 204, 0.3);
  padding: 76px 51px; }
  .society .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    align-items: center; }
  .society .image {
    display: block;
    margin-right: 50px; }
    .society .image img {
      display: block;
      width: 100%; }
  .society div h4 {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .society div p {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .society div a {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline; }

.heritage {
  background: rgba(204, 204, 204, 0.6);
  padding: 76px 51px; }
  .heritage .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: right;
    position: relative;
    left: 12%; }
  .heritage .image_2 {
    display: block;
    margin-left: 50px; }
    .heritage .image_2 img {
      display: block;
      width: 100%; }
  .heritage h4 {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .heritage p {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .heritage a {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline; }

.politics {
  background: rgba(204, 204, 204, 0.3);
  padding: 76px 51px; }
  .politics .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    align-items: center; }
  .politics .image_3 {
    margin-right: 50px; }
    .politics .image_3 img {
      display: block;
      width: 100%; }
  .politics h4 {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .politics p {
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 530px; }
  .politics a {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline; }

.guides {
  padding: 111px; }
  .guides .container h4 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 69px; }
  .guides .container .point {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; }
  .guides .container .point .point_1 {
    width: 33%;
    padding-bottom: 111px; }
  .guides .container .point .point_1:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #21F7EC;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container .point .point_2 {
    width: 33%; }
  .guides .container .point .point_2:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #33D3BC;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container .point .point_3 {
    width: 33%; }
  .guides .container .point .point_3:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #18A5C6;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container .point .point_4 {
    width: 33%; }
  .guides .container .point .point_4:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #D38F62;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container .point .point_5 {
    width: 33%; }
  .guides .container .point .point_5:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #F94C43;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container .point .point_6 {
    width: 33%; }
  .guides .container .point .point_6:before {
    content: "";
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #D399FF;
    border-radius: 50%;
    margin-bottom: 26px; }
  .guides .container h6 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }

.rec {
  background: linear-gradient(to bottom, white 50%, #F0F0F0 50%); }
  .rec div h3 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 102px; }
  .rec .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    .rec .container article img {
      display: block; }
    .rec .container article h5 {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.6px;
      max-width: 248px; }
    .rec .container article p {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .rec .container article a {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline; }

.forms {
  padding: 79px 87px;
  text-align: center; }
  .forms div h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .forms div h4 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .forms .bottom_2 {
    width: 129px;
    height: 36px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding: 7px 23px; }
  .forms div a {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 7px 10px; }
  .forms .two_input input {
    position: relative;
    left: 23px;
    margin-right: 50px;
    width: 153px;
    height: 39px;
    flex-shrink: 0;
    padding: 12px 11px; }
  .forms .two_input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px; }
  .forms .email {
    display: flex;
    justify-content: center;
    margin-bottom: 16px; }
    .forms .email input {
      width: 357px;
      height: 39px;
      flex-shrink: 0;
      padding: 12px 11px; }
